* { box-sizing: border-box; }

body {
    background: url("img/gridpaperlightbluepattern.png");
}

.body_content {
    width: 70%;
    margin: .5% auto;
    padding: 0px;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    box-shadow: 1px 1px 1px 1px black;
    background: white;
    min-width: 370px;
}
.wrapper p {
    padding: 1px;
    margin: 0.5em 0;
}
footer ul{
    clear: both;
}

footer ul li{
    float: bottom;
    text-align: center;   
}

ul{
	list-style-type: none;
}

/*---------- OO styled selector ------*/
