header{
	float: top;
	color: blue;
	width: 100%;
	background-color: white;

}

header,body,footer{
	border: 1px;
	border-style: solid;
}

header.h1{ 
	text-transform: uppercase;
	letter-spacing: 0.4em;
}

body{
	float: none;
	left: 30%;

}

ul{
	list-style-type: none;
}