* { box-sizing: border-box; padding:0; margin: 0 }

body {
    direction: ltr;
    background: url(../img/gridpaperlightbluepattern.png), lightblue;
}

footer ul li{
    float: bottom;
    text-align: center;   
}

ul{
	list-style-type: none;
}

header{ 
	text-transform: uppercase;
    background-color: rgba(100,100,100, 0.5);
    text-decoration: none;
    display: flex;
    justify-content: space-around;
    align-content: center;
    align-items: center;
    flex-wrap: nowrap;
    width: 100%;
  height: 3.5em;
}

header h1{
    padding: 0px;
    margin-left:right;
    flex: 2;
}
nav {
    margin-left:10%;
    flex: 3;
}
nav li{
    display: inline;
}
nav a{
  font-weight: 600;
  color:white;
  text-decoration: none;
}

.main_content{
  font-size: 1.2em;
	background-color: rgb(220,220,220);
	padding:0 15% 0 20%;
	margin: auto;
    box-shadow: 1px 2px 1px #555;
}

.about_me.photobox{
    max-width: 340px;
    float: left;
    align-content: center;
}
.about_me.blurb {
    width: 70%;
    color:#333;
    margin: auto;
    line-height: 0.8em;
    font-size: 0.8em;
    text-align: center;
}
.photo {
    background: #f3efe7;
    min-width: 150px;
    max-width: 70%;
    margin: 0 40px;
    padding: 9px;
    border: solid 1px #ebe6e0;
    border-bottom: solid 1px #d6ccc2;
    border-radius: 4px;
}
.contact_form {
  background: white;
  padding-left: 10%;
  width: 100%;
}

.contact_form-line{
  margin: 5px 0;
  padding: 0 0 .5em;
  max-width: 400px;
  text-align: left;
  clear:both;
}

.contact_form-line label{
  display: inline-block;
  font-size: 1em;
  line-height: 1.5em;
  font-weight: normal;
}

.contact_form-line::after{
  clear: both;
  padding: 10px;
}